<h1><%= t :hello %></h1>
<p><%= flash[:notice] %></p>
<p><a href="/en/">English</a> | <a href="/l33t/">l33t</a> | <a href="/zh/">中国</a> | <a href="/ru/">Русский</a> | <a href="/fr/">Français</a> | <a href="/de/">Deutsch</a> | <a href="/cz/">Český</a></p>
